<div class="container">
  <div class="p-2 mb-2 mt-3 bg-dark text-light h2">Les règles de base</div>
  <div class="alert alert-secondary">
    <details close>
      <summary class="h5">Mise en place</summary>
      <ol>
        <li class="h6"><a href="/reglesdebase#chef" class="text-dark">Choisissez un chef</a></li>
        <li class="h6"><a href="/reglesdebase#explorateurs" class="text-dark">Choisissez les explorateurs</a></li>
        <li class="h6"><a href="/reglesdebase#précipice" class="text-dark">Placez le plateau Précipice</a></li>
        <li class="h6"><a href="/reglesdebase#combat" class="text-dark">Placez la piste de combat</a></li>
        <li class="h6"><a href="/reglesdebase#astronefs" class="text-dark">Placez les astronefs</a></li>
        <li class="h6"><a href="/reglesdebase#dés" class="text-dark">Placez les dés</a></li>
        <li class="h6"><a href="/reglesdebase#chambres-portails-lieux" class="text-dark">Placez les chambres, les portails et les lieux</a></li>
        <li class="h6"><a href="/reglesdebase#chambres-sustentation" class="text-dark">Placez la chambres à sustentation magnétique</a></li>
        <li class="h6"><a href="/reglesdebase#pions-marqueurs" class="text-dark">Placez les pions et les marqueurs</a></li>
        <li class="h6"><a href="/reglesdebase#livres-reference" class="text-dark">Prenez les livrets de référence</a></li>
        <li class="h6"><a href="/reglesdebase#cartes-enveloppes" class="text-dark">Placez les autres cartes & les enveloppes</a></li>
        <li class="h6"><a href="/reglesdebase#expedition" class="text-dark">Commencez l'expédition</a></li>
      </ol>
    </details>
    <details close>
      <summary class="h5">Rounds d'exploration</summary>
      <ol>
        <li class="h6"><a href="/reglesdebase#expedition" class="text-dark">Étape d'exploration</a></li>
        <li class="h6"><a href="/reglesdebase#rétablissement" class="text-dark">Étape de rétablissement</a></li>
        <li class="h6"><a href="/reglesdebase#stepchef" class="text-dark">Étape de chef</a></li>
        <li class="h6"><a href="/reglesdebase#fin-expédition" class="text-dark">Fin d'une expédition</a></li>
      </ol>
    </details>
    <details close>
      <summary class="h5">La quête</summary>
      <ol>
        <li class="h6"><a href="/reglesdebase#marqueur-carte-découverte" class="text-dark">Marqueurs découverte et cartes découverte</a></li>
        <li class="h6"><a href="/reglesdebase#nouvelles-expédition" class="text-dark">Nouvelles expéditions</a></li>
        <li class="h6"><a href="/reglesdebase#bastions" class="text-dark">Bastions</a></li>
        <li class="h6"><a href="/reglesdebase#crypte" class="text-dark">La crypte cachée</a></li>
        <li class="h6"><a href="/reglesdebase#échec" class="text-dark">Échec</a></li>
        <li class="h6"><a href="/reglesdebase#interrompre-expédition" class="text-dark">Interrompre une expédition</a></li>
        <li class="h6"><a href="/reglesdebase#quetes-supplementaires" class="text-dark">Quêtes supplémentaires</a></li>
        <li class="h6"><a href="/reglesdebase#expéditions-ponctuelles" class="text-dark">Expéditions ponctuelles</a></li>
      </ol>
    </details>
    <details close>
      <summary class="h5">Règles spéciales</summary>
      <ol>
        <li class="h6"><a href="/reglesdebase/#blessures" class="text-dark">Blessures</a></li>
        <li class="h6"><a href="/reglesdebase/#exaltation" class="text-dark">Exaltation</a></li>
        <li class="h6"><a href="/reglesdebase/#jetdagilité" class="text-dark">Jet d'agilité</a></li>
        <li class="h6"><a href="/reglesdebase/#explorateurs-exaltés" class="text-dark">Explorateurs exaltés</a></li>
        <li class="h6"><a href="/reglesdebase/#jumeaux-ratlings" class="text-dark">Les jumeaux Ratlings</a></li>
      </ol>
    </details>
  </div>
  <div class=" p-2 mb-2 mt-3 text-dark h2 bg-light text-uppercase font-italic border-bottom border-dark"># Mise en place</div>

  <div id="chef" class="container p-2 mb-2 mt-3 bg-dark text-light h4 text-center">1. Choisissez un chef</div>
    <div class="row mb-2 mt-3 text-dark text-justify">
      <div class="col-8 d-flex align-items-center">
        Un joueur doit être le chef - donnez-lui le marqueur Chef. Si les joueurs n'arrivent pas à se mettre d'accord, le propriétaire du jeu est le chef. Le joueur qui incarne le chef change à certains moments du jeu.
        Si une situation implique que plusieurs joueurs doivent effectuer quelque chose en même temps, le chef décide de l'ordre dans lequel les joueurs effectuent cette action. C'est alors parfois mentionné dans les règles sous l'appellation de “ordre du chef”.
      </div>
      <div class="col-4">
        <img class="img-fluid" src="http://localhost:3000/images/ReglesDeBase/Chef.png">
      </div>
    </div>

  <div id="explorateurs" class="p-2 mb-2 mt-3 bg-dark text-light h4 text-center">2. Choisissez les explorateurs</div>
  <div class="row mb-2 mt-3 text-dark text-justify">
    <div class="col-8 d-flex align-items-center">
      <div>
        Une expédition se compose de quatre explorateurs. Le nombre d'explorateurs contrôlés par chaque joueur dépend du nombre de joueur :
        <ul class="text-dark">
          <li><span class="font-weight-bold">Un joueur :</span> S'il n’y a qu'un joueur, choisissez quatre explorateurs à contrôler.</li>
          <li><span class="font-weight-bold">Deux joueurs :</span> S’il y a deux joueurs, chaque joueur choisit deux explorateurs à contrôler. </li>
          <li><span class="font-weight-bold">Trois joueurs :</span> S’il y a trois joueurs, chaque joueur choisit un explorateur à contrôler. Le chef choisit ensuite un quatrième explorateur. Lors de l'expédition, cet explorateur sera toujours contrôlé par le chef. </li>
          <li><span class="font-weight-bold">Quatre joueurs :</span> Chaque joueur choisit un explorateur à contrôler.</li>
          <li><span class="font-weight-bold">Cinq joueurs :</span> Les joueurs désignent l’un d'entre eux qui sera le “joueur hostile” et contrôlera les hostiles rencontrés lors de l'expédition. À part le chef, n'importe quel joueur peut être le joueur hostile; en cas de désaccord, le chef désigne le joueur hostile. Chaque autre joueur choisit ensuite un explorateur à contrôler.</li>
        </ul>
    <div class="mb-2 mt-3 text-dark text-justify">
      Dans l'ordre du chef, chaque joueur choisit le ou les explorateurs qu'il souhaite contrôler. Rein & Raus comptent comme un seul choix. Quand un joueur choisit un explorateur, il en prend la figurine et place la carte Personnage correspondante face Intentions Secrètes visible (il arrivera qu’un explorateur soit exalté lors d'une expédition, vous permettant de retourner la carte face Exalté). Remettez les figurines d'explorateurs et les cartes Personnage restantes dans la boîte du jeu.
    </div>
    <div class="mb-2 mt-3 text-dark text-justify">
      Si les règles demandent à un explorateur de faire quelque chose - par exemple, se déplacer, attaquer, jeter un dé ou piocher une carte -alors le joueur qui contrôle l'explorateur effectuera ce qui est demandé, comme jeter un dé ou décider de la direction du mouvement de l'explorateur.
    </div>
    </div>
    </div>
    <div class="col-4">
      <img class="img-fluid" src="http://localhost:3000/images/ReglesDeBase/Explorateurs2.png">
    </div>
  </div>


<!--done-->



  <div id="précipice" class="p-2 mb-2 mt-3 bg-dark text-light h4 text-center">3. Placez le plateau Précipice</div>
  <div class="mb-2 mt-3 text-dark text-justify">
    Placez le plateau Precipice sur la table de jeu. Mélangez les cartes Découverte et placez-les face cachée sur l'emplacement prévu à cet effet sur le plateau Precipice. </div>
  <div class="mb-2 mt-3 text-dark text-justify">
    Triez les cartes Exploration et séparez les cartes Combat et les cartes Défi. Prenez les cartes Défi et mélangez-les avant den tirer quatre, face cachée. Faites ensuite la même chose avec les cartes Combat. Mélangez les deux piles de quatre cartes ensemble, et placez la pile obtenue face cachée sur l'emplacement pour les cartes Exploration du plateau Precipice. Replacez le reste des cartes Exploration dans la boîte du jeu. (En procédant ainsi, vous créerez une pile de huit cartes Exploration, dont la moitié sera des cartes Combat et l'autre moitié des cartes Défi).
  </div>

  <div id="combat" class="p-2 mb-2 mt-3 bg-dark text-light h4 text-center">4. Placez la piste de combat</div>
  <div class="mb-2 mt-3 text-dark text-justify">
    Emboîtez la piste de combat et placez-la à l'opposé du plateau Precipice sur la zone de jeu (comme montré page 5). Placez la réglette de ligne de vue à la droite de la piste de combat.
  </div>
  <div class="mb-2 mt-3 text-dark text-justify">
    Prenez les quatre cartes Initiative correspondant aux explorateurs faisant partie de l'expédition et ajoutez quatre cartes Initiative de groupe d’hostiles. Placez les huit cartes face visible à la gauche de la piste de combat et replacez les cartes Initiative restantes dans la boîte du jeu.
  </div>
  <div class="mb-2 mt-3 text-dark text-justify">
    Prenez les cartes Rencontre et trouvez les cartes Traitor Guardsmen, Negavolt Cultists, Ur-Ghuls et Spindle Drones (pour un total de vingt cartes). Mélangez ces cartes afin de créer la pile de rencontre, et placez la pile face cachée à côté des cartes Initiative, à gauche de la piste de combat. Replacez ensuite les cartes Rencontre restantes dans la boîte du jeu.
  </div>
  <div class="mb-2 mt-3 text-dark text-justify">
    Prenez les figurines et les cartes de référence Hostile des Traitor Guardsmen, Negavolt Cultists, Ur-Ghuls et Spindle Drones, et placez-les à droite de la piste de combat. Replacez le reste des figurines et des cartes de référence Hostile dans la boîte du jeu.
  </div>

  <div id="astronefs" class="p-2 mb-2 mt-3 bg-dark text-light h4 text-center">5. Placez les astronefs</div>
  <div class="mb-2 mt-3 text-dark text-justify">
    Chaque explorateur est basé sur un astronef spécifique amarré à la cité de Precipice (certains astronefs servent de base à plusieurs explorateurs). La carte Personnage d’un explorateur stipule son astronef assigné. Par exemple, Dahyak Grekh est basé sur le Kravvcha'to.
  </div>
  <div class="mb-2 mt-3 text-dark text-justify">
    Chaque astronef possède deux faces: une face “appui” et une face “installations”.
    La face appui d’un astronef dispose d'une aptitude qui peut être utilisée par n'importe quel explorateur lorsqu'il est dans la Forteresse Noire. La face installations présente les installations spéciales à disposition des explorateurs lorsque l'expédition est terminée (voir page 5 du livret Precipice).
  </div>
  <div class="mb-2 mt-3 text-dark text-justify">
    Prenez les astronefs servant de base aux explorateurs de l'expédition, et placez-en deux de chaque côté du plateau Precipice, face appui visible. S'il y a moins de quatre astronefs à placer, le chef doit choisir autant d’astronefs supplémentaires que nécessaire et les place de chaque côté du plateau Precipice, jusqu'à ce que quatre astronefs soient placés. Replacez le reste des astronefs dans la boîte du jeu.
  </div>

  <div id="dés" class="p-2 mb-2 mt-3 bg-dark text-light h4 text-center">6. Placez les dés</div>
  <div class="mb-2 mt-3 text-dark text-justify">
    Les dés utilisés a Blackstone Fortress sont de différents types et doivent être placés comme décrit ci-dessous :</div>
  <div class="mb-2 mt-3 text-dark text-justify">
    <span class="font-weight-bold">Dés de destin :</span> Les dés noirs à six faces numérotées de 1 à 6 sont appelés “dés de destin”. Placez-les dans l'espace de dés de destin dédié sur le plateau Precipice.
  </div>
  <div class="mb-2 mt-3 text-dark text-justify">
    <span class="font-weight-bold">Dés d'activation :</span> Les dés blancs à six faces numérotées de 1 à 6 sont appelés “dés d'activation”. Placez quatre dés d'activation à côté de chaque carte Personnage d'explorateur.   </div>
  <div class="mb-2 mt-3 text-dark text-justify">
    <span class="font-weight-bold">Dés d’action :</span> Les dés à six, huit et douze faces marquées de symboles spéciaux sont appelés “dés d'action”. Placez-les audessous du plateau Precipice.
  </div>
  <div class="mb-2 mt-3 text-dark text-justify">
    Certaines règles demandent de relancer un dé. Pour ce faire, jetez à nouveau le dé, et utilisez ce jet pour déterminer le résultat d’une action. Sauf mention contraire, vous ne pouvez pas relancer un dé plus d’une fois. Si une action demande de jeter deux dés, jetez les deux dés et choisissez l’un des deux (les relances permettent de relancer au choix l’un des dés ou les deux). Si une règle parle de jet “réussi”, il s'agit à la fois des réussites et des réussites critiques.
  </div>
  <div class="mb-2 mt-3 text-dark text-justify">
    Dé de Sombreroche: Le dé à vingt faces numérotées > de 1 à 20 est appelé “dé de Sombreroche”. Placez-le au bas du plateau Precipice. Il est utilisé pour résoudre les défis, déterminer le comportement des hostiles, et générer des événements aléatoires.
  </div>

  <div id="chambres-portails-lieux" class="p-2 mb-2 mt-3 bg-dark text-light h4 text-center">7. Placez les chambres, les portails et les lieux</div>
  <div class="mb-2 mt-3 text-dark text-justify">
    Les sections de plateau double face de Blackstone Fortress sont appelées “chambres”. Placez toutes les chambres à proximité du plateau Precipice - elles seront placées si un combat se déroule lors de l'expédition.
  </div>
  <div class="mb-2 mt-3 text-dark text-justify">
    Chaque chambre est divisée en espaces hexagonaux, appelés “cases” dans les règles suivantes. Chaque bord d'une case est appelé “arête” de case. Certaines cases ont une ou plusieurs arêtes blanches, indiquant une barrière derrière laquelle les explorateurs et les hostiles peuvent se mettre à couvert. D'autres cases ont une ou plusieurs arêtes violettes, indiquant un mur ou un obstacle à travers lequel on ne peut entreprendre aucun mouvement ni tracer aucune ligne de vue.
  </div>
  <div class="mb-2 mt-3 text-dark text-justify">
    De plus, Blackstone Fortress contient des portails et des tuiles de lieu. Les portails sont placés adjacents aux chambres et servent à marquer lendroit doù les renforts hostiles peuvent arriver et où les explorateurs peuvent appeler une chambre à sustentation magnétique. Placez les portails et les tuiles de lieu avec les chambres, près du plateau Precipice.
  </div>
  <div class="mb-2 mt-3 text-dark text-justify">
    Les tuiles de lieu sont soit superposées à une case pour marquer un endroit d'une chambre où des règles spéciales s'appliquent, soit adjacentes à une chambre pour créer une case supplémentaire où il est possible de se rendre. Si le symbole © figure à côté d'une tuile de lieu sur une carte Exploration ou la carte de bastion, cela signifie qu'il faut placer la tuile sur la case indiquée.
  </div>

  <div id="chambres-sustentation" class="p-2 mb-2 mt-3 bg-dark text-light h4 text-center">8. Placez la chambres à sustentation magnétique</div>
  <div class="mb-2 mt-3 text-dark text-justify">
    Trouvez les deux chambres à sustentation magnétique et placez-en une près de la piste de combat. Dans l'ordre du chef, chaque joueur place ensuite son ou ses explorateurs n'importe où sur la chambre à sustentation magnétique. Chaque case peut accueillir jusqu'à deux explorateurs. Si vous utilisez Rein & Raus, alors les deux peuvent occuper une case en plus d’un autre explorateur. Laissez l'autre chambre à sustentation magnétique de côté pour l'instant. Une carte montrera parfois une chambre à sustentation magnétique d'arrivée et/ou une chambre à sustentation magnétique dévacuation. Dans ce cas, la chambre sur laquelle se trouvent les explorateurs est celle d'arrivée, et l'autre est celle d'évacuation.
  </div>

  <div id="pions-marqueurs" class="p-2 mb-2 mt-3 bg-dark text-light h4 text-center">9. Placez les pions et les marqueurs</div>
  <div class="mb-2 mt-3 text-dark text-justify">
    Blackstone Fortress inclut divers pions et marqueurs en carton utilisés pour garder le compte d'éléments comme les blessures subies par les explorateurs et les hostiles, lemplacement des découvertes que les explorateurs ont effectuées, ou l’utilisation d'actions uniques. Placez ces pions et marqueurs au bas du plateau Precipice.
  </div>

  <div id="livres-reference" class="p-2 mb-2 mt-3 bg-dark text-light h4 text-center">10. Prenez les livres de référence</div>
  <div class="mb-2 mt-3 text-dark text-justify">
    Outre ce livret Règles, Blackstone Fortress comprend le livret Combat, le livret Precipice et le livret Contexte. Gardez-les à portée de main afin de pouvoir vous y référer en cours de jeu.
  </div>
  <div class="mb-2 mt-3 text-dark text-justify">
    <span class="font-weight-bold">Livret Combat :</span> Il contient les règles permettant de résoudre les combats entre les explorateurs et les hostiles de la Forteresse Noire.   </div>
  <div class="mb-2 mt-3 text-dark text-justify">
    <span class="font-weight-bold">Livret Precipice :</span> Il contient les règles précisant ce qui se passe une fois qu'une expédition est terminée et que les explorateurs reviennent à bord de leurs astronefs. Il contient aussi une série de bastions, qui peuvent être attaqués une fois que les explorateurs auront découvert suffisamment d'indices pour révéler leur position.
  </div>
  <div class="mb-2 mt-3 text-dark text-justify">
    <span class="font-weight-bold">Livret Contexte :</span> Il contient les informations concernant la galaxie où se déroule le jeu, ainsi que les habitants de cette dernière. Bien qu'il ne contienne pas de règles de jeu, le lire permettra aux joueurs de mieux comprendre les motivations des différents explorateurs, et ce qu'ils peuvent s'attendre à trouver à l’intérieur de la Forteresse Noire.
  </div>

  <div id="cartes-enveloppes" class="p-2 mb-2 mt-3 bg-dark text-light h4 text-center">11. Placez les autres cartes & les enveloppes</div>
  <div class="mb-2 mt-3 text-dark text-justify">
    Placez les cartes Legs, Ressource et Mortis au-dessus du plateau Precipice. Placez ensuite l'enveloppe Crypte Cachée, les cartes Bastion et Artéfact de Bastion et les étuis de banque de données et de chambre de stase dans la boîte du jeu (ils ne seront pas utilisés lors votre première expédition).
  </div>

  <div id="expedition" class="p-2 mb-2 mt-3 bg-dark text-light h4 text-center">12. Commencez l'expédition</div>
  <div class="mb-2 mt-3 text-dark text-justify">
    Le chef lit à voix haute ce qui suit:<br><br> "Les explorateurs pénètrent l'une des chambres à sustentation magnétique de la Forteresse Noire, et saisissent un code d'accès sur son panneau de contrôle. La chambre vacille et se met en mouvement, entraînant les explorateurs dans les tréfonds de la forteresse. Ils ont pour objectif de découvrir quatre indices avant de retourner à Precipice..."
  </div>

  <div class="p-2 mb-2 mt-3 text-dark h2 bg-light text-uppercase font-italic border-bottom border-dark"># Rounds d'expédition</div>
  <div class="mb-2 mt-3 text-dark text-justify font-weight-bold">
    Pour effectuer une expédition dans la Forteresse Noire, les explorateurs doivent utiliser les chambres à sustentation magnétique. Une fois utilisée, une chambre à sustentation devient inerte et met des heures, des jours voire des semaines à se recharger. Ce délai implique que les explorateurs doivent sortir de la chambre et affronter l’inconnu se trouvant audelà afin d'atteindre une autre chambre à sustentation leur permettant de s'enfoncer plus encore dans la forteresse ou de quitter les lieux. Lors de leur exploration, ils trouveront des cachés d’archéotechnologie, croiseront des guerriers hostiles ou découvriront des indices leur permettant d'atteindre des lieux spécifiques de la Forteresse Noire par la suite.
  </div>
  <div class="mb-2 mt-3 text-dark text-justify">
    Chaque expédition dans la Forteresse Noire se joue en suivant une série de rounds d'exploration. Chaque round se décompose en trois étapes :
  </div>
  <ol>
    <li>Étape d'exploration</li>
    <li>Étape de rétablissement</li>
    <li>Étape de chef</li>
  </ol>

  <div id="exploration" class="p-2 mb-2 mt-3 bg-dark text-light h4 text-center">1. Étape d'exploration</div>
  <div class="mb-2 mt-3 text-dark text-justify">
    Lors de cette étape, le chef détermine ce que les explorateurs découvrent en révélant la première carte de la pile d'exploration. Les cartes Exploration se divisent en deux types: les cartes Défi et les cartes Combat.
  </div>
  <div class="mb-2 mt-3 text-dark text-justify">
    <span class="font-weight-bold">Cartes Défi :</span> Les cartes Défi présentent au joueur une sorte de tâche à accomplir. Pour résoudre le défi, suivez les instructions de la carte Défi. Après avoir résolu le défi, replacez la carte dans la boîte du jeu. Notez que les actions requérant la dépense de dés d'activation lors d’un combat (voir page 9 du livret Combat) ne requièrent pas la dépense de tels dés lors d’un défi.
  </div>
  <div class="mb-2 mt-3 text-dark text-justify">
    <span class="font-weight-bold">Cartes Combat :</span> Les cartes Combat demandent aux explorateurs de combattre des groupes d'hostiles. Elles se divisent en cartes Combat standards et en cartes Combat (embuscade). Lorsqu'un combat a lieu, une série de chambres est placée, et le groupe d’hostiles rencontré est déterminé en tirant des cartes de la pile de rencontre. Consultez le livret Combat pour les règles concernant la résolution d’un combat. Une fois le combat résolu, défaussez la carte Combat et replacez-la dans la boîte du jeu.
  </div>

  <div id="rétablissement" class="p-2 mb-2 mt-3 bg-dark text-light h4 text-center">2. Étape de rétablissement</div>
  <div class="mb-2 mt-3 text-dark text-justify">
    Lors de cette étape, un jet est fait pour chaque explorateur hors de combat, afin de voir s’il récupère (p. 14). Un jet de vitalité est ensuite fait pour chaque explorateur ayant subi des blessures, afin de voir si ces blessures sont soignées (p. 14).
  </div>

  <div id="stepchef" class="p-2 mb-2 mt-3 bg-dark text-light h4 text-center">3. Étape du chef</div>
  <div class="mb-2 mt-3 text-dark text-justify">
    Lors de cette étape, le marqueur Chef est passé au joueur à la gauche de son détenteur, en excluant le joueur hostile s’il y en a un. Puis un nouveau round d'exploration commence.
  </div>
  <div class="mb-2 mt-3 text-dark text-justify h5 font-italic">
    Échanger des Cartes
  </div>
  <div class="mb-2 mt-1 text-dark text-justify">
    À cette étape, les explorateurs peuvent s'échanger (ou se donner) des cartes Découverte, Ressource et/ou Artéfact de Bastion.
  </div>

  <div id="fin-expédition" class="p-2 mb-2 mt-3 bg-dark text-light h4 text-center">4. Fin d'une expédition</div>
  <div class="mb-2 mt-3 text-dark text-justify">
    Une expédition prend fin lors d’une des situations suivantes :
  </div>
  <ol>
    <li>À la fin d’un combat, les explorateurs sont tous hors de combat.</li>
    <li>Un explorateur meurt à la phase de rétablissement.</li>
    <li>Lors de l'étape d'exploration, les joueurs décident de mettre un terme à l'expédition au lieu de piocher une carte Exploration.</li>
  </ol>
  <div class="mb-2 mt-3 text-dark text-justify">
    Quand une expédition prend fin, les explorateurs rejoignent Precipice où ils peuvent se soigner, troquer l'archéotechnologie récupérée, rassembler des ressources, et découvrir quels legs s'appliqueront aux futures expéditions. Consultez le livret Precipice pour apprendre comment faire tout cela.
  </div>

  <div class="p-2 mb-2 mt-3 text-dark h2 bg-light text-uppercase font-italic border-bottom border-dark"># La quête</div>
  <div class="mb-2 mt-3 text-dark text-justify">
    Les explorateurs mènent une quête pour découvrir la crypte cachée au fin fond de la Forteresse Noire. Cette section explique comment accomplir cette quête.
  </div>

  <div id="marqueur-carte-découverte" class="p-2 mb-2 mt-3 bg-dark text-light h4 text-center">1. Marqueurs Découverte et cartes Découverte</div>
  <div class="mb-2 mt-3 text-dark text-justify">
    Au cours d'une expédition, les explorateurs découvriront de l'archéotechnologie et des indices concernant leur quête pour la crypte cachée dans la Forteresse Noire.
  </div>
  <div class="mb-2 mt-3 text-dark text-justify h5 font-italic">
    Marqueurs Découverte
  </div>
  <div class="mb-2 mt-1 text-dark text-justify">
    Les marqueurs Découverte sont utilisés en combat pour marquer les cases où les hostiles sont déployés et les endroits où l'archéotechnologie et les indices peuvent être découverts par les explorateurs (voir page 6 du livret Combat). Les chiffres indiquent quel groupe d’hostiles est déployé à côté du marqueur. Les marqueurs Découverte sont en général placés chiffre visible, mais seront parfois placés “?” visible afin que les explorateurs ne sachent pas à quoi ils correspondent.
  </div>
  <div class="mb-2 mt-3 text-dark text-justify h5 font-italic">
    Cartes Découverte
  </div>
  <div class="mb-2 mt-1 text-dark text-justify">
    Les cartes Découverte sont de deux types : les cartes Indice et les cartes Archéotechnologie. Elles peuvent être conservées d’une expédition à l’autre (voir page 7 du livret Precipice).
  </div>
  <div class="mb-2 mt-3 text-dark text-justify">
    <span class="font-weight-bold">Cartes Archéotechnologie :</span> Elles octroient des points de trafic utilisables à Precipice après une expédition afin d'acquérir des cartes Ressource (voir livret Precipice).
  </div>
  <div class="mb-2 mt-3 text-dark text-justify">
    <span class="font-weight-bold">Cartes Indice :</span> Les cartes Indice permettent aux explorateurs d'atteindre des endroits spécifiques lors de futures expéditions au sein de la Forteresse Noire (voir Nouvelles Expéditions et Bastions, ci-contre).
  </div>

  <div id="nouvelles-expédition" class="p-2 mb-2 mt-3 bg-dark text-light h4 text-center">2. Nouvelles expéditions</div>
  <div class="mb-2 mt-3 text-dark text-justify">
    Les joueurs peuvent choisir de monter une nouvelle expédition après la séquence Precipice (voir page 7 du livret Precipice). Lexpédition peut être lancée immédiatement, ou bien les joueurs peuvent définir un nouveau rendez-vous pour poursuivre la quête des explorateurs. Les expéditions futures peuvent être entreprises par un groupe de joueurs différents au besoin, ainsi, si un joueur nest pas disponible, l'expédition peut tout de même être montée avec les joueurs qui le sont.
  </div>
  <div class="mb-2 mt-3 text-dark text-justify">
    Les explorateurs que les joueurs choisissent de contrôler peuvent aussi changer d'une expédition à l'autre - un joueur est libre d'utiliser n'importe quel explorateur lorsque vient son tour den choisir un. De plus, s'il y a cinq joueurs, le joueur incarnant le joueur hostile peut aussi changer d'une expédition à l'autre.
  </div>
  <div class="mb-2 mt-3 text-dark text-justify">
    Lorsqu'un joueur choisit un explorateur pour une expédition, tout indice, archéotechnologie, ressource et artéfact de bastion que cet explorateur a reçu lors d'expéditions antérieures et qui est toujours disponible peut être utilisé, et est placé à côté de sa carte Personnage.
  </div>

  <div id="bastions" class="p-2 mb-2 mt-3 bg-dark text-light h4 text-center">3. Bastions</div>
  <div class="mb-2 mt-3 text-dark text-justify">
    Pour dénicher la crypte cachée, les explorateurs doivent d’abord conquérir les quatre bastions qui l'entourent.
  </div>
  <div class="mb-2 mt-3 text-dark text-justify">
    Après avoir choisi leur explorateur au début d’une nouvelle expédition, les joueurs peuvent défausser quatre cartes Indice détenues par ces explorateurs. S'ils le font, les explorateurs peuvent attaquer un bastion au lieu de lancer une expédition normale. Les cartes Indice défaussées sont mélangées à nouveau dans la pile de découvertes.
  </div>
  <div class="mb-2 mt-3 text-dark text-justify">
    Les cartes de la pile de bastion sont ensuite mélangées, et une carte est tirée au hasard; l'expédition doit être une attaque sur le bastion correspondant à la carte tirée. Les règles d'attaque contre un bastion se trouvent pages 12 et 13 du livret Precipice.
  </div>
  <div class="mb-2 mt-3 text-dark text-justify">
    Ce sont les joueurs qui décident s'ils défaussent les cartes Indice détenues par les explorateurs qu'ils contrôlent - si les joueurs ne sont pas d'accord, alors c'est une expédition normale qui est montée.
  </div>

  <div id="crypte" class="p-2 mb-2 mt-3 bg-dark text-light h4 text-center">4. La crypte cachée</div>
  <div class="mb-2 mt-3 text-dark text-justify">
    Une fois les quatre bastions conquis, et après avoir choisi leurs explorateurs au début d’une expédition, les joueurs peuvent décider de lancer une expédition vers la crypte cachée. Les règles pour monter une expédition vers la crypte cachée se trouvent pages 22 et 23 du livret Precipice. Ces règles indiquent comment les explorateurs peuvent trouver la crypte cachée et les secrets qui y reposent, et ainsi comment remporter leur partie de Warhammer Quest Blackstone Fortress.
  </div>

  <div id="échec" class="p-2 mb-2 mt-3 bg-dark text-light h4 text-center">5. Échec</div>
  <div class="mb-2 mt-3 text-dark text-justify">
    La quête vers la crypte cachée est un échec s’il n'y a plus de carte dans la pile de legs lorsqu'il faut en tirer une (page 4 du livret Precipice), ou si moins de quatre explorateurs sont disponibles au début d’une expédition. Si l’une de ces situations se présente, les joueurs ont perdu cette partie de Warhammer Quest Blackstone Fortress, et doivent commencer une nouvelle partie s'ils souhaitent découvrir ce qui se terre au cœur de la crypte cachée.
  </div>

  <div class="alert alert-secondary">
    <div id="interrompre-expédition" class="mb-2 text-dark text-justify h5 text-uppercase">
      INTERROMPRE UNE EXPÉDITION
    </div>
    <div class="mb-2 mt-1 text-dark text-justify">
      Il arrive parfois qu'une session de jeu ne suffise pas à achever une expédition et à retourner à Precipice. Si la situation se présente, vous pouvez interrompre l'expédition à la fin de n'importe quel défi ou combat, ranger le jeu, et reprendre ensuite l'expédition lors d'une session de jeu suivante. Des détails sur la manière de ranger le jeu en le préparant pour la prochaine expédition se trouvent page 7 du livret Precipice.
    </div>
  </div>

  <div id="quetes-supplementaires" class="p-2 mb-2 mt-3 bg-dark text-light h4 text-center">7. Quêtes supplémentaires</div>
  <div class="mb-2 mt-3 text-dark text-justify">
    Les explorateurs auront accès à des quêtes supplémentaires dans des extensions pour Warhammer Quest Blackstone Fortress. Ces nouvelles quêtes en apprendront plus aux joueurs sur les secrets de la Forteresse Noire.
  </div>

  <div id="expéditions-ponctuelles" class="p-2 mb-2 mt-3 bg-dark text-light h4 text-center">8. Expéditions ponctuelles</div>
  <div class="mb-2 mt-3 text-dark text-justify">
    Une expédition ponctuelle est une manière de jouer à Warhammer Quest Blackstone Fortress conçue pour se terminer en une seule session de jeu, plutôt qu’une partie d'une quête au long cours. Vous pouvez monter une expédition ponctuelle après avoir terminé la quête vers la crypte cachée, ou seulement parce que vous souhaitez ne faire qu’une seule session du jeu.
  </div>
  <div class="mb-2 mt-3 text-dark text-justify">
    Le but d’une expédition ponctuelle est de découvrir une certaine quantité d’archéotechnologies et un certain nombre d'indices. Avant de monter l'expédition, les joueurs doivent déterminer la difficulté de leur objectif en choisissant l'un des niveaux de difficulté suivants :
  </div>

  <table class="table rounded">
    <thead class="thead-dark">
    <tr>
      <th scope="col">Difficulté</th>
      <th scope="col">Objectif</th>
    </tr>
    </thead>
    <tbody class="bg-light">
    <tr>
      <th>Normal</th>
      <td>4 cartes Indice et 8 points d'archéotechnologie</td>
    </tr>
    <tr>
      <th>Difficile</th>
      <td>5 cartes Indice et 9 points d’archéotechnologie</td>
    </tr>
    <tr>
      <th>Extrême</th>
      <td>6 cartes Indice et 10 points d'archéotechnologie</td>
    </tr>
    </tbody>
  </table>

  <div class="mb-2 mt-3 text-dark text-justify">
    Les joueurs jouent ensuite une partie de Warhammer Quest Blackstone Fortress. Placez le jeu comme vous le feriez pour une première partie de la quête vers la crypte cachée (pages 6 à 10), à l'exception des cartes Rencontre qui sont toutes utilisées pour cette partie. Cela signifie que les explorateurs n'auront aucune ressource, qu'aucune règle de legs ne s'appliquera, etc.
  </div>
  <div class="mb-2 mt-3 text-dark text-justify">
    L'expédition est ensuite montée en utilisant toutes les règles normales, à ceci près que les explorateurs ne retourneront pas à Precipice à la fin de l'expédition. À la place, si l'expédition se termine et que les joueurs ont atteint leur objectif en découvrant la quantité d'archéotechnologies et le nombre d'indices requis, alors l'expédition est un succès et Les joueurs sont victorieux. Si l'expédition se termine avant que les joueurs n'atteignent leur objectif, alors l'expédition est un échec et les joueurs ont perdu.
  </div>

  <div class="p-2 mb-2 mt-3 text-dark h2 bg-light text-uppercase font-italic border-bottom border-dark"># Règles spéciales</div>
  <div class="mb-2 mt-3 text-dark text-justify font-italic">
    Cette section comprend les règles spéciales décrivant la manière dont les explorateurs subissent des blessures et peuvent être exaltés, ainsi que le fonctionnement des Jumeaux Ratlings dans une partie de Blackstone Fortress.
  </div>

  <div id="blessures" class="p-2 mb-2 mt-3 bg-dark text-light h4 text-center">1. Blessures</div>
  <div class="mb-2 mt-3 text-dark text-justify">
    Lors d’une expédition, il est probable que plusieurs explorateurs soient blessés, voire tués, par les attaques des hostiles affrontés ou en conséquence des défis rencontrés. Ces blessures sont représentées par les pions Blessure et Blessure Grave qui sont placés sur la carte Personnage de l'explorateur, comme décrit ci-après.
  </div>
  <div class="mb-2 mt-3 text-dark text-justify">
    Les blessures et les blessures graves affectent les hostiles légèrement différemment des explorateurs. Ces règles se trouvent page 12 et 14 du livret Combat.
  </div>
  <div class="mb-2 mt-3 text-dark text-justify h5 font-italic">
    Pions Blessure et Blessure Grave
  </div>
  <div class="mb-2 mt-1 text-dark text-justify">
    Chaque fois qu’un explorateur subit une blessure ou une blessure grave, le joueur qui le contrôle place un pion Blessure ou Blessure Grave (selon la blessure) sur l’un des espaces de dé d'activation de la carte Personnage de l'explorateur. Lorsqu'un jet d'activation est effectué pour un explorateur, chaque pion Blessure ou Blessure Grave réduit de 1 le nombre de dés jetés. Si tous les espaces sont recouverts, l'explorateur dépendra des dés de destin (voir page 9 du livret Combat).
  </div>
  <div class="mb-2 mt-3 text-dark text-justify">
    Les pions Blessure Grave sont traités par les explorateurs de la même manière que les pions Blessure, sauf qu'ils ne peuvent pas être soignés lors d’une rencontre (voir Soigner les Blessures ci-contre). Ceci mis à part et sauf mention contraire, toutes les règles se référant aux pions Blessure pour les explorateurs s'appliquent aussi aux pions Blessure Grave.
  </div>
  <div class="mb-2 mt-3 text-dark text-justify h5 font-italic">
    Hors de Combat
  </div>
  <div class="mb-2 mt-1 text-dark text-justify">
    Si tous les espaces d'activation d’une carte Personnage d’un explorateur sont couverts par des pions Blessure ou Blessure Grave, et qu'une nouvelle blessure ou blessure grave est subie, cet explorateur est mis hors de combat. Retirez la (ou les) figurine(s) de l'explorateur du plateau et sa carte Initiative de la piste de combat, et placez-les à côté de sa carte Personnage. Lorsqu'un explorateur est hors de combat, aucune des actions ou règles spéciales de sa carte ne peuvent être utilisées, et il ne prend plus part aux défis ni aux combats.
  </div>
  <div class="mb-2 mt-3 text-dark text-justify h5 font-italic">
    Jets de Rétablissement
  </div>
  <div class="mb-2 mt-1 text-dark text-justify">
    La survie d'un explorateur mis hors de combat et les effets à long terme des blessures subies sont déterminés lors de la phase de rétablissement de chaque round d'exploration (page 11). Chaque joueur contrôlant un explorateur hors de combat doit jeter le dé de Sombreroche et comparer le résultat aux nombres de blessures graves subies :
  </div>
  <div class="mb-2 mt-3 text-dark text-justify">
    <span class="font-weight-bold">Jet inférieur ou égal au nombre de blessures graves :</span> L'explorateur meurt de ses blessures et ne peut plus être utilisé pour les expéditions à venir. Placez une carte Mortis à côté de sa carte Personnage pour montrer qu’il est mort. Toute carte Découverte, Ressource ou Artéfact de Bastion possédée par l'explorateur mort est perdue, et l'expédition prend fin (voir page 11).
  </div>
  <div class="mb-2 mt-3 text-dark text-justify">
    <span class="font-weight-bold">Jet supérieur au nombre de blessures graves :</span> Placez la figurine de l'explorateur sur la chambre à sustentation magnétique avec les autres explorateurs.
  </div>
  <div class="mb-2 mt-3 text-dark text-justify h5 font-italic">
    Soigner des Blessures
  </div>
  <div class="mb-2 mt-1 text-dark text-justify">
    Certaines règles, comme celles des jets de vitalité ci-dessous, vous permettent de retirer un ou plusieurs pions Blessure de la carte Personnage d’un explorateur. On parle parfois de “soigner une blessure” Notez que les blessures graves ne peuvent être soignées sauf mention explicite.
  </div>
  <div class="mb-2 mt-3 text-dark text-justify h5 font-italic">
    Jets de Vitalité
  </div>
  <div class="mb-2 mt-1 text-dark text-justify">
    Les joueurs peuvent faire un jet de vitalité pour un explorateur lors de la phase de rétablissement (après les jets de rétablissement) et lors d’une rencontre en effectuant une action Se Rétablir (voir page 9 du livret Combat). Pour effectuer un jet de vitalité, jetez le dé d'action correspondant à la valeur Vitalité de l'explorateur, et consultez le résultat ci-dessous :
  </div>
  <div class="mb-2 mt-3 text-dark text-justify">
    Échec : Rien ne se passe.
  </div>
  <div class="mb-2 mt-3 text-dark text-justify">
    Réussite : Retirez 1 pion Blessure de la carte Personnage de l'explorateur.
  </div>
  <div class="mb-2 mt-3 text-dark text-justify">
    Réussite critique : Retirez jusqu’à 2 pions Blessure de la carte Personnage de l'explorateur.
  </div>

  <div id="exaltation" class="p-2 mb-2 mt-3 bg-dark text-light h4 text-center">2. Exaltation</div>
  <div class="mb-2 mt-3 text-dark text-justify">
    Une carte Personnage d'explorateur commence la partie face Intentions Secrètes visible. Lors d’une expédition, si l'explorateur gagne suffisamment de points d'exaltation ou réalise ses intentions secrètes (voir ci-contre), la carte Personnage est retournée face Exalté visible.
  </div>
  <div class="mb-2 mt-3 text-dark text-justify h5 font-italic">
    Points d'Exaltation
  </div>
  <div class="mb-2 mt-1 text-dark text-justify">
    Un explorateur gagne des points d'exaltations en tuant des hostiles en combat (voir page 10 du livret Combat). De plus, certains défis permettent à un explorateur de gagner un point d'exaltation.
  </div>
  <div class="mb-2 mt-3 text-dark text-justify">
    Gardez le compte des points d'exaltation gagnés par un explorateur en plaçant des pions Point d’Exaltation près de sa carte Personnage, leur chiffre indiquant le nombre de points d'exaltation gagnés par l'explorateur. Un explorateur ne peut pas avoir plus de quatre points dexaltation à la fois — s’il a quatre points d'exaltation, tout point d'exaltation supplémentaire qu’il gagne est perdu.
  </div>
  <div class="mb-2 mt-3 text-dark text-justify">
    Les points d'exaltation peuvent être dépensés par un explorateur pour faire les choses suivantes. Replacez les pions Point d’Exaltation utilisés à côté du plateau Precipice.
  </div>
  <div class="mb-2 mt-3 text-dark text-center h6 font-italic">
    Points d'Exaltation
  </div>

  <table class="table rounded">
    <thead class="thead-dark">
    <tr>
      <th scope="col">Coût</th>
      <th scope="col">Exaltation</th>
    </tr>
    </thead>
    <tbody class="bg-light">
    <tr>
      <th>3</th>
      <td>Retournez la carte de l'explorateur face Exalté.</td>
    </tr>
    <tr>
      <th>3</th>
      <td>Effectuez une action Fouiller (4+) dans une case dépourvue de marqueur Découverte* (l'action Fouiller coûte toujours un dé d'activation à 4+). </td>
    </tr>
    <tr>
      <th>2</th>
      <td>Tentez une manœuvre* sans dépenser de dé d'activation.</td>
    </tr>
    <tr>
      <th>1</th>
      <td>Relancez un dé d'action.</td>
    </tr>
    </tbody>
  </table>
  <div class="mb-2 text-dark text-justify">
    * Les actions Fouiller et les manœuvres sont expliquées dans le livret Combat.
  </div>

  <div id="jetdagilité" class="p-2 mb-2 mt-3 bg-dark text-light h4 text-center">3. Jets d'agilité</div>
  <div class="mb-2 mt-3 text-dark text-justify">
    Les joueurs auront parfois besoin de faire un jet d'agilité pour un explorateur. Pour ce faire, jetez le dé d'action correspondant à l'Agilité de l'explorateur, et consultez le résultat ci-dessous :
  </div>
  <div class="mb-2 mt-3 text-dark text-justify">
    Échec : Le jet d’agilité est un échec.
  </div>
  <div class="mb-2 mt-3 text-dark text-justify">
    Réussite : Le jet d'agilité est une réussite.
  </div>
  <div class="mb-2 mt-3 text-dark text-justify">
    Réussite critique : Le jet d’agilité est une réussite.
  </div>

  <div id="explorateurs-exaltés" class="p-2 mb-2 mt-3 bg-dark text-light h4 text-center">4. Explorateurs exaltés</div>
  <div class="mb-2 mt-3 text-dark text-justify">
    Lorsqu'un explorateur est exalté, retournez sa carte Personnage face Exalté visible. Tout pion Blessure ou Blessure Grave doit être transféré sur la face Exalté de la carte. Une fois l'explorateur exalté, il le reste jusqu'à la fin de l'expédition.
  </div>
  <div class="mb-2 mt-3 text-dark text-justify h5 font-italic">
    Intentions Secrètes
  </div>
  <div class="mb-2 mt-1 text-dark text-justify">
    Chaque explorateur a des intentions secrètes listées au bas de sa carte Personnage. Si un explorateur réalise ses intentions secrètes, il est immédiatement exalté sans avoir à dépenser ses pions Points d'Exaltation.
  </div>

  <div id="jumeaux-ratlings" class="p-2 mb-2 mt-3 bg-dark text-light h4 text-center">5. Les jumeaux ratlings</div>
  <div class="mb-2 mt-3 text-dark text-justify">
    Les Jumeaux Ratlings sont un “explorateur” unique doté de deux figurines au lieu d’une, chacune représentant Rein ou Raus. Les règles suivantes s'appliquent aux Jumeaux Ratlings.
  </div>
  <div class="mb-2 mt-3 text-dark text-justify">
    Les Jumeaux Ratlings sont contrôlés par le même joueur. Lors d’un défi, traitez Rein & Raus comme un unique explorateur. Lors d’une rencontre, un seul jet d'activation est effectué pour Rein & Raus, et les dés d'activation peuvent être dépensés pour des actions de l'une ou l'autre des figurines, au choix du joueur. N'importe quel Jumeau Ratling peut utiliser les cartes Découverte, Ressource ou Ârtéfact de Bastion possédées par Rein & Raus.
  </div>
  <div class="mb-2 mt-3 text-dark text-justify">
    Quand la carte Initiative de Rein & Raus est tirée, le joueur qui les contrôle peut effectuer des actions avec un ou les deux jumeaux, dans l'ordre de son choix. Par exemple, le joueur peut effectuer une action avec l’un des jumeaux, puis une action avec l’autre, puis revenir au premier pour effectuer une nouvelle action, etc. Notez que l'action d'arme Fusil de Sniper ne peut être entreprise que par Rein (fautre Jumeau Ratling peut entreprendre l'action Pistolet de Poche). Un hostile nest à couvert d’une attaque des jumeaux Ratlings que s’il est à couvert des deux Jumeaux Ratlings lorsque l'attaque est effectuée.
  </div>
  <div class="mb-2 mt-3 text-dark text-justify">
    Les hostiles peuvent attaquer n'importe quel Jumeau Ratling (il n'est pas nécessaire que les deux soient visibles en même temps). Si tous les espaces de la carte Personnage des Jumeaux Ratlings sont couverts par des pions Blessure ou Blessure Grave, et qu'une nouvelle blessure grave est subie, alors les deux Jumeaux Ratlings sont mis hors de combat. Faites un seul jet lorsque les Jumeaux Ratlings font un jet de rétablissement - le résultat s'applique aux deux figurines. S'ils retournent sur le plateau après avoir été mis hors de combat, ils peuvent être placés indifféremment sur la mêmecase ou des cases différentes.
  </div>

</div>
