<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-5 col-xl-5 p-3">
      <img  class="imgbodyhome img-fluid" height="100%" width="100%" src="http://localhost:3000/static/image/Home/ExplorationHome.png">
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-7 col-xl-7 p-3">
      <p class="p-2 h4 bg-dark text-light titlebodyhome">Découvrez les explorations de Warhammer BlackStone Fortress</p>
      <div class="bg-light p-2 mt-5 lead font-italic textbodyhome">
        <p class="p-2 text-justify">Les cartes Exploration se divisent en deux types: les Cartes Défi et les cartes Combat.</p>
        <p class="p-2 text-justify">Cartes Défi: Les cartes Défi présentent au joueur une sorte de tâche à accomplir.</p>
        <p class="p-2 text-justify">Les cartes Combat demandent aux explorateurs de combattre des groupes d`hostiles.Elles se divisent en cartes Combat standards et en cartes Combat (embuscade).</p>
        <a routerLink="/exploration" class="btn btn-secondary d-flex justify-content-center">ACCES A LA LISTE</a>
      </div>
    </div>
  </div>
</div>
