/*.ship{*/
/*  !*background-image: url("http://localhost:3000/image/starship/back2.jpg");*!*/
/*  background-repeat: no-repeat;*/
/*  background-position: center;*/
/*  background-color:#080707a2;*/

/*}*/


.octagon-block1 {

  background:#080707c1;/*цвет фона*/
  width:45%;/*ширина */
  height:6.5%;/*высота */
  padding:15px 15px;/*внутренние отступы*/
  color:#fff;/*цвет шрифта*/
  margin:10px auto;/*выравнивание блока по центру и отступы сверху и снизу*/
  clip-path:
    polygon(
      0% 15px, /* верхняя левая */
      15px 0%, /* верхняя левая */
      calc(100% - 15px) 0%, /* верхняя правая */
      100% 15px, /* верхняя правая */
      100% calc(100% - 15px),  /* нижняя правая */
      calc(100% - 15px) 100%,  /* нижняя правая */
      15px 100%, /* нижняя левая */
      0 calc(100% - 15px) /* нижняя левая */
    );
}
.octagon-block2 {
  background:#080707c1;/*цвет фона*/
  width:170px;/*ширина */
  height:40px;/*высота */
  padding:3px 6px;/*внутренние отступы*/
  color:#fff;/*цвет шрифта*/
  text-align:center;
  /*выравнивание блока по центру и отступы сверху и снизу*/
  clip-path:
    polygon(
      0% 9px, /* верхняя левая */
      9px 0%, /* верхняя левая */
      calc(100% - 9px) 0%, /* верхняя правая */
      100% 9px, /* верхняя правая */
      100% calc(100% - 9px),  /* нижняя правая */
      calc(100% - 9px) 100%,  /* нижняя правая */
      9px 100%, /* нижняя левая */
      0 calc(100% - 9px) /* нижняя левая */
    );
}

.octagon-block3 {
  background:#080707c1;/*цвет фона*/
  width:230px;/*ширина */
  height:40px;/*высота */
  padding:3px 6px;/*внутренние отступы*/
  color:#fff;/*цвет шрифта*/
  text-align:center;
  /*выравнивание блока по центру и отступы сверху и снизу*/
  clip-path:
    polygon(
      0% 9px, /* верхняя левая */
      9px 0%, /* верхняя левая */
      calc(100% - 9px) 0%, /* верхняя правая */
      100% 9px, /* верхняя правая */
      100% calc(100% - 9px),  /* нижняя правая */
      calc(100% - 9px) 100%,  /* нижняя правая */
      9px 100%, /* нижняя левая */
      0 calc(100% - 9px) /* нижняя левая */
    );
}
#back{

  background-image: url("http://localhost:3000/image/starship/back3.jpeg");
  background-repeat: no-repeat;

  background-size: 100% 100%;
  /*background-attachment: fixed;*/
  background-position: center;
  /*background-size: cover;*/
  /*background-color:#080707a2;*/

}
/*@media (max-width: 100px) {*/
#logo{
  background-image: url("http://localhost:3000/image/starship/back.png");
  background-position: right top;
  background-repeat: no-repeat;
  /*display: none;*/


}

/*}*/

a {
  color: firebrick;
}
@media(max-width: 1700px){
  #logo {
    background-image: none;
  }
}
@media(max-width: 1000px){
  .octagon-block1{
    width:100%;/*ширина */
    height:100%;
  }
}
@media(max-width: 1000px){
  #back {
    background-size: cover;
    background-repeat:repeat;
  }
}
@media(max-width: 1000px){
  .octagon-block2 {
    margin-top: 10%;
  }
}
