<meta name="viewport" content="width=device-width,initial-scale=1">
<div class="container-fluid">
  <div class="trap" style="text-align:center" >
    <img class="img-fluid" src="http://localhost:3000/image/starship/logo.png">
  </div>
  <div id="back" *ngFor="let data of starship" class="card mb-4 rounded-pill" style="border: brown">
    <div class="row g-0">
      <div class="col-md-4">
        <img cla src="{{URL + data.image}}" class="card-img-top" >
      </div>
      <div class="col-md-8">
        <div id="logo" class="card-body mb-4">
            <div class="octagon-block1 text-center">
              <h3>
                  <b><i>< {{data.name}} ></i></b>
              </h3>
            </div>
          <ul>
              <div class="octagon-block2">
                <h4>
                    <i>Explorateur</i>
                </h4>
              </div>
            <li>
                <a href="/characters"><b>+++<i> {{data.explorateur}} </i>+++</b></a>
            </li>
          </ul>
          <ul>
            <div class="octagon-block2">
              <h4>
                  <i>Mode Appui</i>
              </h4>
            </div>
              <li>
                  <b>{{data.appui}}</b>
              </li>
            </ul>
          <ul>
              <div class="octagon-block3">
                <h4>
                  <i>Mode Installation</i>
                </h4>
              </div>
            <li>
              <b>{{data.instalations}}</b>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>


