<div class="container-fluid">
  <div class="trap" style="text-align:center" >
    <img src="http://localhost:3000/image/starship/logo.png">
  </div>
  <div id="back" *ngFor="let data of starship" class="card mb-4" style="border: brown">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="{{URL + data.image}}" class="card-img-top" >
      </div>
      <div class="col-md-8">
        <div id="logo" class="card-body mb-4">
          <h3 align="center">
            <div class="octagon-block1">
            <th><i>< {{data.name}} ></i></th>
            </div>
          </h3>
          <ul>
            <h4>
              <div class="octagon-block2">
              <i>Explorateur</i>
              </div>
            </h4>
            <li>
                <i><a href="/characters"><th>+++ {{data.explorateur}} +++</th></a></i>
            </li>
          </ul>
          <ul>
          <h4>
            <div class="octagon-block2">
              <i>Mode Appui</i>
            </div>
          </h4>
              <li><th>
                {{data.appui}}
              </th>
              </li>
            </ul>
          <ul>
            <h4>
              <div class="octagon-block3">
              <i>Mode Installation</i>
            </div>
            </h4>
            <li><th>
              {{data.instalations}}
            </th>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>


