<div class="container">
  <div class="p-2 mb-2 mt-3 bg-dark text-light h2">Les règles de combat</div>
  <div class="alert alert-secondary">
    <details close>
      <summary class="h5">Règles de combat</summary>
      <ol>
        <li class="h6"><a href="/reglesdecombat#carte-combat" class="text-dark">Carte combat</a></li>
        <li class="h6"><a href="/reglesdecombat#carte-rencontre" class="text-dark">Carte rencontre</a></li>
      </ol>
    </details>
    <details close>
      <summary class="h5">Le champ de bataille</summary>
      <ol>
        <li class="h6"><a href="/reglesdecombat#champ-de-bataille" class="text-dark">Mise en place du champ de bataille</a></li>
        <li class="h6"><a href="/reglesdecombat#hostiles" class="text-dark">Déployer les hostiles</a></li>
        <li class="h6"><a href="/reglesdecombat#limitedecase" class="text-dark">Limites de case</a></li>
        <li class="h6"><a href="/reglesdecombat#pile-initiative" class="text-dark">Mettre en place la pile d'initiative</a></li>
      </ol>
    </details>
    <details close>
      <summary class="h5">Livrer un combat</summary>
      <ol>
        <li class="h6"><a href="/reglesdecombat#sequence-tour-de-combat" class="text-dark">Séquence d'un tour de combat</a></li>
        <li class="h6"><a href="/reglesdecombat#phase-destin" class="text-dark">Phase de destin</a></li>
        <li class="h6"><a href="/reglesdecombat#phase-initiative" class="text-dark">Phase d'initiative</a></li>
        <li class="h6"><a href="/reglesdecombat#embuscade" class="text-dark">Embuscade</a></li>
        <li class="h6"><a href="/reglesdecombat#phase-activation" class="text-dark">Phase d'activation</a></li>
        <li class="h6"><a href="/reglesdecombat#deploiement" class="text-dark">Déploiement au cours d'un combat</a></li>
        <li class="h6"><a href="/reglesdecombat#attaques" class="text-dark">Attaques</a></li>
        <li class="h6"><a href="/reglesdecombat#expéditions-ponctuelles" class="text-dark">Expéditions ponctuelles</a></li>
        <li class="h6"><a href="/reglesdecombat#actions-hostile" class="text-darkexpéditions-ponctuelles">Actions des hostiles</a></li>
        <li class="h6"><a href="/reglesdecombat#phase-evenement" class="text-dark">Phase d'événement</a></li>
      </ol>
    </details>
    <details close>
      <summary class="h5">Règles spéciales</summary>
      <ol>
        <li class="h6"><a href="/reglesdecombat/#blessures" class="text-dark">Blessures</a></li>
        <li class="h6"><a href="/reglesdecombat/#exaltation" class="text-dark">Exaltation</a></li>
        <li class="h6"><a href="/reglesdecombat/#jetdagilité" class="text-dark">Jet d'agilité</a></li>
        <li class="h6"><a href="/reglesdecombat/#explorateurs-exaltés" class="text-dark">Explorateurs exaltés</a></li>
        <li class="h6"><a href="/reglesdecombat/#jumeaux-ratlings" class="text-dark">Les jumeaux Ratlings</a></li>
      </ol>
    </details>
  </div>
  <div class="p-2 mb-2 mt-3 text-dark h2 bg-light text-uppercase font-italic border-bottom border-dark"># Règles de combat</div>
  <div class="mb-2 mt-3 text-dark text-justify">
    <b>Alors que les explorateurs s’enfoncent dans les profondeurs de la Forteresse Noire, ils rencontrent des groupes d’hostiles qu’ils doivent affronter. Ces escarmouches sont résolues grâce aux règles de ce livret.</b>
  </div>

  <div id="carte-combat" class="p-2 mb-2 mt-3 bg-dark text-light h4 text-center">1. Cartes combats</div>
  <div class="mb-2 mt-3 text-dark text-justify">
    Un combat a lieu quand une carte Combat est piochée dans la pile d'exploration (voir page 7 du livret Règles)
  </div>
  <div class="mb-2 mt-3 text-dark text-justify">
    Chaque carte Combat a une face qui montre les chambres qui forment le champ de bataille. De plus, où placer les portails, les tuiles de lieu et les marqueurs Découverte, et si les explorateurs commencent dans un chambre d'arrivée à sustentation magnétique, ou s’ils sont tombés dans une embuscade. Consultez les règles de création d'un champ de bataille page 6 pour voir comment utiliser ces informations afin de mettre en place le champ de bataille.
  </div>

  <div id="carte-rencontre" class="p-2 mb-2 mt-3 bg-dark text-light h4 text-center">2. Cartes rencontres</div>
  <div class="mb-2 mt-3 text-dark text-justify">
    Ces cartes servent à déterminer quels hostiles les explorateurs ont rencontrés. Chaque carte Rencontre indique quatre types de rencontres ( 1, 2, 3, 4 ), qui correspondent aux marqueurs Découverte indiqués sur la carte Combat.
  </div>
  <div class="mb-2 mt-3 text-dark text-justify">
    Chaque rencontre indique soit un groupe d'une ou plusieurs figurines d’hostiles (appelé groupe d'hostiles dans les règles qui suivent), soit une règle spéciale (appelée impondérable dans les règles qui suivent).
  </div>

  <div class="p-2 mb-2 mt-3 text-dark h2 bg-light text-uppercase font-italic border-bottom border-dark"># Le champ de bataille</div>
  <div class="mb-2 mt-3 text-dark text-justify">
    Avant de livrer un combat, il faut créer le champ de bataille et déployer les hostiles qui vont s'opposer aux explorateurs. Pour ce faire, suivez les étapes ci-dessous:
  </div>
  <ol>
    <li>Mettre en place le champ de bataille</li>
    <li>Déployer les hostiles</li>
    <li>Mettre en place la pile d'initiative</li>
  </ol>

  <div id="champ-de-bataille" class="p-2 mb-2 mt-3 bg-dark text-light h4 text-center">1. Mettre en place le champ de bataille</div>
  <div class="mb-2 mt-3 text-dark text-justify">
    Chaque carte Combat indiquera les chambres qui composent le champ de bataille. Prenez les chambres nécessaires et disposez-les comme le montre la carte Combat, puis ajoutez les portails, les tuiles de lieu et les marqueurs Découverte, et enfin les explorateurs, comme expliqué ci-dessous.
  </div>
  <div class="mb-2 mt-3 text-dark text-justify">
    <b>Tuile de Lieu :</b> Si la carte Combat indique des tuiles de lieu, placez-les sur les cases appropriées une fois les chambres disposées.
  </div>
  <div class="mb-2 mt-3 text-dark text-justify">
    <b>Portails :</b> Placez les portails au contact des cases indiquées. Ils indiquent les cases par lesquelles des renforts d’hostiles peuvent arriver (p. 13), mais aussi où se trouvent les chambres à sustentation magnétique qui permettront aux explorateurs de s'échapper (p. 15).
  </div>
  <div class="mb-2 mt-3 text-dark text-justify">
    <b>Marqueurs Découverte :</b> Placez-les sur les cases indiquées par la carte Combat.
  </div>
  <div class="mb-2 mt-3 text-dark text-justify">
    <b>Chambre d'arrivée :</b> Si une chambre à sustentation magnétique représentée avec une bordure rouge apparaît sur la carte Combat, placez la chambre à sustentation magnétique comme indiqué, puis les explorateurs. Après avoir disposé la chambre, les explorateurs peuvent choisir les cases qu’ils occupent sur celle-ci.
  </div>
  <div class="mb-2 mt-3 text-dark text-justify">
    <b>Cases embuscade :</b> Certaines cartes Combat ont le terme “Embuscade” dans leur titre. Au lieu d'indiquer une chambre de transport à sustentation magnétique, la carte indiquera une ou plusieurs cases embuscade (portant la lettre A). Dans ce cas, placez les explorateurs sur les cases embuscade, à raison d'un ou deux par case.
  </div>

  <div id="hostiles" class="p-2 mb-2 mt-3 bg-dark text-light h4 text-center">2. Déployer les hostiles</div>
  <div class="mb-2 mt-3 text-dark text-justify">
    Ensuite, le joueur hostile (ou le chef s’il n'y a pas de joueur hostile) doit déployer les figurines des hostiles rencontrés. Pour ce faire, il pioche une carte de la pile de rencontre pour chaque marqueur Découverte apparaissant sur la carte Combat.
  </div>
  <div class="mb-2 mt-3 text-dark text-justify">
    Piochez les cartes une par une, en déployant à chaque fois les hostiles quelle indique avant de piocher la carte suivante. La rencontre 1 de la première carte indique quels hostiles sont déployés sur la case portant le marqueur Découverte 1. ou adjacents à celle-ci. La rencontre 2 de la deuxième carte indique quels hostiles sont déployés sur la case portant le marqueur Découverte 2 , et ainsi de suite. Placez les cartes Rencontre en ligne, de gauche à droite, au-dessus de la piste de combat, afin de vous rappeler quelle carte correspond à quel groupe d'hostiles.
  </div>
  <div class="mb-2 mt-3 text-dark text-justify">
    Le premier hostile d'un groupe doit être déployé sur la case portant son marqueur Découverte. Les autres hostiles du groupe doivent être déployés sur cette même case, ou sur une case adjacente. Si vous avez le choix, vous devez déployer les hostiles sur une case qui, si possible, les met à couvert par rapport aux explorateurs.
  </div>
  <div class="mb-2 mt-3 text-dark text-justify">
    Une fois les hostiles déployés, le joueur hostile (ou le chef sil n'y a pas de joueur hostile) prend les cartes de référence des hostiles utilisés au cours de ce combat.
  </div>
  <div class="mb-2 mt-3 text-dark text-justify">
    <b>Pénurie de figurines :</b> S'il n'y a pas assez de figurines pour placer tous les hostiles d’un groupe, placez autant d’hostiles que possible et ignorez ceux qui manquent.
  </div>
  <div class="mb-2 mt-3 text-dark text-justify">
    <b>Limite d’une case :</b> Le nombre d’hostiles pouvant être placés sur une case est déterminé par leurs tailles (la taille d’un hostile se trouve sur sa carte de référence). Une case peut accueillir soit trois petits hostiles, soit un grand hostile et deux petits hostiles, soit deux grands hostiles, soit un seul hostile immense. Ces règles sont récapitulées dans le tableau de limites de case ci-dessous. Ce dernier inclut aussi les limites d’une case pour les figurines d'explorateurs.
  </div>
  <div class="mb-2 mt-3 text-dark text-justify">
    <b>Impondérables :</b> Parfois, une carte Combat indiquera un impondérable plutôt qu’un groupe d’hostiles. Dans ce cas, la règle spéciale de la carte s'applique pour la durée du combat.
  </div>

  <div class="alert alert-secondary">
    <div id="limitedecase" class="mb-2 text-dark text-justify h5 text-uppercase">
      Limites de case
    </div>
    <ul>
      <li>3 petits hostiles</li>
      <li>2 petits hostiles & 1 grand hostile </li>
      <li>2 grands hostiles</li>
      <li>1 hostile immense</li>
      <li>2 Jumeaux Ratlings & 1 autre explorateur</li>
      <li>2 explorateurs</li>
    </ul>
    <div class="mb-2 mt-1 text-dark text-justify">
      <b>La taille d’un hostile se trouve sur sa carte de référence.</b>
    </div>
  </div>

  <div id="pile-initiative" class="p-2 mb-2 mt-3 bg-dark text-light h4 text-center">3. Mettre en place la pile d'initiative</div>
  <div class="mb-2 mt-3 text-dark text-justify">
    Enfin, le joueur hostile (ou le chef s’il n'y a pas de joueur hostile), met en place la pile d'initiative. Cette pile doit inclure les cartes Initiative de tous les explorateurs qui ne sont pas hors de combat, et la carte Initiative de chaque groupe d'hostiles. Mélangez toutes ces cartes et posez-les en pile face cachée sous la piste de combat. Toute carte Initiative qui n'a pas servi à constituer la pile est mise de côté pour l'instant. Le combat peut commencer !
  </div>
</div>
