<div class="container">
  <div class="p-2 mb-2 mt-3 bg-dark text-light h2">Défis</div>
</div>
<div class="container">
  <div class="row">
    <div *ngFor="let data of challengesArray" class="col-xs-12 col-sm-6 col-md-6 col-lg-3 mb-4 d-flex justify-content-center">
        <div class="card min-height: 30 rounded" style="overflow-y: auto; max-height: 300px; width: 20rem; background-image: url('http://localhost:3000/static/images/challenges/texturechallengescards.jpg')">
          <div class="card-body">
            <h2 class="card-title" style="font-size: medium; font-weight: bold">{{data.title}}</h2>
            <p class="card-title">{{data.image}}</p>
            <p class="card-title">{{data.situation}}</p>
            <p class="card-text">{{data.description}}</p>
          </div>
        </div>
    </div>
  </div>
</div>

