<div class="container">
  <div class="row">
    <div *ngFor="let data of maps" class="divmap col-sm-12 col-md-6 col-lg-4 mt-5 mb-5 justify-content-center">
      <a class="mapcard ml-3 mr-1" data-toggle="modal" data-target="#MapModal" (click)="printMap(data)">
          <img class="image ml-4"  src="{{imageURL+data.image}}" style="width: 250px; height: 300px;">
      </a>
    </div>
  </div>
  <!-- Modal -->
  <div *ngIf="mapSelected" class="modal fade" id="MapModal" tabindex="-1" role="dialog" aria-labelledby="myModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="myModalLongTitle">{{mapSelected.name}}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body ml-4 mr-1">
          <img src="{{imageURL+mapSelected.image}}" id="preview" style="width: 450px; height: 540px;" >
        </div>
        <div class="modal-footer">
          <p>1-Enemies spawn</p>
          <p>2-Enemies spawn</p>
          <p>3-Enemies spawn</p>
          <p>4-Enemies spawn</p>
        </div>
      </div>
    </div>
  </div>
</div>


