<div class="container">
  <div class="row">
    <div class="col-7 p-3">
      <p class="p-2 h4 bg-dark text-light titlebodyhome">Découvrez les vaisseaux de Warhammer BlackStone Fortress</p>
      <div class="bg-light p-2 mt-5 lead font-italic textbodyhome">
        <p class="p-2 text-justify">Vous souhaitez avoir des détails sur les vaisseaux utilisés par les explorateurs de l'édition BlackStone Fortress de Warhammer alors venez voir par ici !</p>
        <p class="p-2 text-justify">Afin de rendre votre parti de jeu la plus fructueuse et la plus agréable possible,nous vous proposons de retrouver toutes les statistiques de chaque l'explorateur pour trouver celui qui vous conviendra le mieux.</p>
        <p class="p-2 text-justify">Enfin vous pourrez obtenir les statistique des ennemies hostiles afin de vous y préparer au mieux.</p>
        <a routerLink="/starships" class="btn btn-secondary d-flex justify-content-center">ACCES A LA LISTE</a>
      </div>
    </div>
    <div class="col-5 p-3">
      <img  class="imgbodyhome" height="100%" width="100%" src="http://localhost:3000/static/image/starship/ship.jpg">
    </div>
  </div>
</div>
