<h1>Exploration</h1>
<div class="text-justify mt-5 mb-5 ml-5 mr-5">
  <p>Pour effectuer une expédition dans la Forteresse Noire, les explorateurs doivent utiliser les chambres sustentation magnétique. Une fois utilisée, une chambre à sustentation devient inerte et met des heures, des jours voire des semaines à se recharger. Ce délai implique que les explorateurs doivent sortir de la chambre et affronter l'inconnu se trouvant au-delà afin d'atteindre une autre chambre à sustentation leur permettant de s'enfoncer plus encore dans la forteresse ou de quitter les lieux. Lors de leur exploration, ils trouveront des caches d'archéotechnologie, croiseront des guerriers hostiles ou découvriront des indices leur permettant d'atteindre des lieux spécifiques de la Forteresse Noire par la suite.
    Chaque expédition dans la Forteresse Noire se joue en suivant une série de rounds d'exploration.</p>
  <p>Chaque round se décompose en trois étapes</p>
    <ul>
      <li>Etape d'exploration</li>
      <li>Etape de rétablissement</li>
      <li>Etape de chef</li>
    </ul>
  <p>Lors de l'étape "Exploration", le chef détermine ce que les explorateurs  découvrent en révélant la première carte de la pile d'exploration. Les cartes Exploration se divisent en deux types: les cartes Défi et les cartes Combat.</p>

</div>
<div class="text-center mt-5 mb-5">
  <a href="http://localhost:4200/challenges/" class="text-center mt-5 mb-5">
    <img class="mr-5 ml-5 mb-5 rounded" src="http://localhost:3000/images/exploration/challengecard.jpg" height="400rem" alt="Carte défi Warhammer Blackstone">
  </a>
  <a href="http://localhost:4200/combatmaps/" class="text-center mt-5 mb-5">
    <img class="mr-5 ml-5 mb-5 rounded" src="http://localhost:3000/images/exploration/combatcard.jpg" height="400rem" alt="Carte combat Warhammer Blackstone">
  </a>
</div>
