.rounded {
  border-radius: 1rem!important;
}
.bodyapp {
  background-image: url("http://localhost:3000/images/exploration/Backgroundexploration.jpg");
  background-repeat: no-repeat;
  background-position: left bottom;
}
